{% extends 'base.html' %}
{% block styles %}
  {{ block.super }}
  <style type="text/css">
    #header {
      color: rgba(0, 0, 0, 0.8);
      font-size: 1.85rem;
      text-transform: uppercase;
    }
    #headerContainer {
      margin: 60px 60px 0px 60px;
    }
    #headerDividerContainer {
      margin-top: 18px;
    }
    #headerDivider {
      border-bottom: 1px solid #D5AE76;
      width: 280px;
    }
    #headerSubdivider {
      border-bottom: 3px solid #D5AE76;
      margin-top: -2px;
      width: 25px;
    }
    .portfolioContainer {
      margin-bottom: 96px;
    }
    .portfolioContainer:last-child {
      padding-bottom: 96px;
    }
    .portfolioContainer:nth-child(odd) {
      background: #F5F5F5;
    }
    .portfolioHeaderContainer {
      margin-left: 60px;
      margin-right: 60px;
      padding-top: 72px;
    }
    .portfolioHeader {
      color: rgba(0, 0, 0, 0.75);
      font-size: 1.75rem;
    }
    .portfolioSubheader {
      color: rgba(0, 0, 0, 0.75);
      font-size: 1rem;
    }
    .workHeaderDivider {
      border-bottom: 3px solid #D5AE76;
      margin: 0 auto;
      margin-bottom: 20px;
      text-align: center;
      width: 25px;
    }
    .workHeader {
      color: rgba(0, 0, 0, 0.5);
      font-size: 1.5625rem;
      margin-left: 60px;
      margin-right: 60px;
    }
    .workSubheader {
      color: rgba(0, 0, 0, 0.75);
      font-size: 1rem;
      margin-bottom: 48px;
      margin-left: 60px;
      margin-right: 60px;
    }
    .workListItem {
      margin-bottom: 36px;
      margin-left: 60px;
      margin-right: 60px;
      margin-top: 96px;
    }
    .carouselImage {
      height: 550px;
      object-fit: cover;
      object-position: bottom;
    }
    .carouselSubImages {
      height: 550px;
      overflow-y: scroll;
    }
    .carouselSubImage {
      display: block;
      height: 200px;
      width: 100%;
      object-fit: cover;
    }
    .carouselLink .carouselSubImage {
      margin-bottom: 24px;
    }
    .carouselLink:last-child .carouselSubImage {
      margin-bottom: 0px;
    }
    .carouselCaption {
      background: rgba(0, 0, 0, 0.5);
      bottom: 0%;
      left: 0%;
      right: 0%;
      padding: 24px;
    }
    .carouselHeader {
      text-align: left;
      font-size: 1.25rem;
    }
    .carouselDescription {
      margin-bottom: 0px;
      text-align: left;
    }
    .carouselLink:hover {
      cursor: pointer;
    }
    @media (max-width: 992px) {
      #header {
        text-align: center;
      }
      #headerDivider {
        margin: 0 auto;
        width: 90%;
      }
      #headerSubdivider {
        margin: 0 auto;
      }
      .portfolioHeader {
        text-align: center;
      }
      .portfolioSubheader {
        text-align: center;
      }
      .workHeader {
        text-align: center;
      }
      .workSubheader {
        text-align: center;
      }
      .workListItem {
        margin-left: 0px;
        margin-right: 0px;
      }
      .carouselSubImages {
        height: inherit;
        overflow-y: auto;
      }
      .carouselSubImage {
        display: inline-block;
        height: 150px;
        width: 150px;
        object-fit: cover;
      }
      .carouselLink .carouselSubImage {
        margin-top: 12px;
        margin-bottom: 0px;
      }
    }
  </style>
{% endblock %}

{% block title %}{{ config.HTML_PORTFOLIO_TITLE }} - {% endblock %}

{% block content %}
  <div id="portfolioContainer">
    <div id="headerContainer">
      <h1 id="header" class="neutraBold">Portfolio</h1>
      <div id="headerDividerContainer">
        <div id="headerDivider"></div>
        <div id="headerSubdivider"></div>
      </div>
    </div>
    {% for portfolio in object_list %}
      <div id="{{ portfolio.slug }}" class="portfolioContainer">
        <div class="portfolioHeaderContainer">
          <h2 class="portfolioHeader neutraBold">{{ portfolio.title }}</h2>
          <p class="portfolioSubheader neutra">{{ portfolio.description }}</p>
        </div>
        <div class="workList">
          {% for work in portfolio.work_set.all %}
            <div class="workListItem">
              {% if work.header %}
                <!-- <div class="workHeaderDivider"></div> -->
                <h4 class="workHeader neutraBold">{{ work.header }}</h4>
                <p class="workSubheader neutra">{{ work.subheader }}</p>
              {% endif %}
              <div class="container-fluid">
                <div class="row">
                  <div class="col-lg-8 col-md-12">
                    <div id="carousel-{{ forloop.counter }}" class="carousel slide" data-ride="carousel">
                      <div class="carousel-inner">
                        {% for photo in work.photo_set.all %}
                          <div class="carousel-item{% if forloop.first %} active{% endif %}">
                            <img class="carouselImage d-block w-100" src="{{ photo.image.url }}" alt="Alt text">
                            <div class="carousel-caption d-none d-md-block carouselCaption">
                              <h3 class="carouselHeader neutraBold">{{ work.title }}</h3>
                              <p class="carouselDescription neutra">{{ work.description }}</p>
                            </div>
                          </div>
                        {% endfor %}
                      </div>
                      <a class="carousel-control-prev" role="button" data-slide="prev" href="#carousel-{{ forloop.counter }}">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                      </a>
                      <a class="carousel-control-next" role="button" data-slide="next" href="#carousel-{{ forloop.counter }}">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                      </a>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-12">
                    <div class="carouselSubImages">
                      {% with carouselIndex=forloop.counter %}
                        {% for photo in work.photo_set.all %}
                          <a data-carousel="carousel-{{ carouselIndex }}" data-slide-to="{{ forloop.counter }}" class="carouselLink">
                            <img class="carouselSubImage" src="{{ photo.image.url }}">
                          </a>
                        {% endfor %}
                      {% endwith %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}

{% block scripts %}
  <script type="text/javascript">
    $(document).ready(function() {
      $(".carouselLink").click(function(e) {
        e.preventDefault();

        var carousel = $(this).data('carousel');
        var slide = $(this).data('slide-to') - 1;

        $("#" + carousel).carousel(slide);
      });
    });
  </script>
{% endblock %}
