{% extends 'base.html' %}
{% block styles %}
  {{ block.super }}
  <style type="text/css">
    #header {
      color: rgba(0, 0, 0, 0.8);
      font-size: 1.85rem;
      text-transform: uppercase;
    }
    #headerContainer {
      margin: 60px 60px 0px 60px;
    }
    #headerDividerContainer {
      margin-top: 18px;
    }
    #headerDivider {
      border-bottom: 1px solid #D5AE76;
      width: 280px;
    }
    #headerSubdivider {
      border-bottom: 3px solid #D5AE76;
      margin-top: -2px;
      width: 25px;
    }
    .workList {
      padding: 60px;
    }
    .workList:nth-child(odd) {
      background-color: #F5F5F5;
    }
    .portfolioHeaderContainer,
    .portfolioInnerHeaderContainer {
      padding-bottom: 36px;
    }
    .portfolioHeader {
      color: rgba(0, 0, 0, 0.75);
      font-size: 1.75rem;
    }
    .portfolioSubheader {
      color: rgba(0, 0, 0, 0.75);
      font-size: 1rem;
    }
    .portfolioInnerHeader {
      color: rgba(0, 0, 0, 0.75);
      font-size: 1.25rem;
    }
    .portfolioInnerSubheader {
      color: rgba(0, 0, 0, 0.75);
      font-size: .5rem;
    }
    .carouselImage {
      height: 550px;
      object-fit: cover;
      object-position: bottom;
    }
    .carouselSubImages {
      height: 550px;
      overflow-y: scroll;
    }
    .carouselSubImage {
      display: block;
      height: 200px;
      width: 100%;
      object-fit: cover;
    }
    .carouselLink .carouselSubImage {
      margin-bottom: 24px;
    }
    .carouselLink:last-child .carouselSubImage {
      margin-bottom: 0px;
    }
    .carouselCaption {
      background: rgba(0, 0, 0, 0.5);
      bottom: 0%;
      left: 0%;
      right: 0%;
      padding: 24px;
    }
    .carouselHeader {
      text-align: left;
      font-size: 2rem;
      font-weight: 900;
    }
    .carouselDescription {
      margin-bottom: 0px;
      text-align: left;
    }
    .carouselLink:hover {
      cursor: pointer;
    }
    .removePadding {
      padding: 0px;
    }
    @media (max-width: 992px) {
      #header {
        text-align: center;
      }
      #headerDivider {
        margin: 0 auto;
        width: 90%;
      }
      #headerSubdivider {
        margin: 0 auto;
      }
      .portfolioHeader {
        padding: 0 60px 0 60px;
        text-align: center;
      }
      .portfolioSubheader {
        padding: 0 60px 0 60px;
        text-align: center;
      }
      .workList {
        padding: 60px 0 60px 0;
      }
      .carouselSubImages {
        height: 180px;
        overflow-y: auto;
        overflow-x: scroll;
        white-space: nowrap
      }
      .carouselSubImage {
        display: inline-block;
        height: 150px;
        width: 150px;
        object-fit: cover;
      }
      .carouselLink .carouselSubImage {
        margin-top: 12px;
        margin-bottom: 0px;
      }
    }
  </style>
{% endblock %}

{% block title %}{{ config.HTML_GALLERY_TITLE }} - {% endblock %}

{% block content %}
  <div id="portfolioContainer">
    <div id="headerContainer">
      <h1 id="header" class="neutraBold">Gallery</h1>
      <div id="headerDividerContainer">
        <div id="headerDivider"></div>
        <div id="headerSubdivider"></div>
      </div>
    </div>
    {% for section in object_list %}
      <div class="workList" id="{{ section.slug }}">
        <div class="workListItem">
          <div class="portfolioHeaderContainer">
            <h2 class="portfolioHeader neutraBold">{{ section.title }}</h2>
            <p class="portfolioSubheader neutra">{{ section.description }}</p>
          </div>
          {% for subsection in section.subsection_set.all %}
            {% with title=subsection.title description=subsection.description photos=subsection.subsectionphoto_set.all %}
              {% include 'gallery/subsection_list.html' %}
            {% endwith %}
            {% empty %}
            {% with photos=section.photo_set.all %}
              {% include 'gallery/subsection_list.html' %}
            {% endwith %}
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}

{% block scripts %}
  <script type="text/javascript">
    $(document).ready(function() {
      $(".carouselLink").click(function(e) {
        e.preventDefault();

        var carousel = $(this).data('carousel');
        var slide = $(this).data('slide-to') - 1;

        $("#" + carousel).carousel(slide);
      });
    });
  </script>
{% endblock %}
